<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiangong.dao.FileDao">

<!--    File getFileByMD5(String fileMd5);-->
    <select id="getFileByMD5" parameterType="java.lang.String" resultType="com.tiangong.domain.File">
        SELECT
            *
        FROM
            t_file
        WHERE
            md5 = #{md5}
    </select>

<!--    void addFile(File dbFileMD5);-->
    <insert id="addFile" parameterType="com.tiangong.domain.File">
        INSERT INTO
            t_file(
                url,
                `type`,
                md5,
                createTime
        ) VALUES(
                #{url},
                #{type},
                #{md5},
                #{createTime}
        )
    </insert>

</mapper>